@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

.btn-add{
    font-weight: 700;
    font-size: large;
    height: 35px;
    color: white;
    background-color: #03C874;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-add:hover{
    cursor: pointer;
    background-color: #049b5a;
}

.btn-back{
    font-weight: 700;
    font-size: large;
    height: 35px;
    color: white;
    background-color: #BFBFBF;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-back:hover{
    cursor: pointer;
    background-color: #949494;
}

#label-form{
    color: #767a7e;
    font-size: large;
}

.input-form{
    border: 1px solid #E5EBF1;
    border-radius: 6px;
    font-size: large;
    padding: 10px 15px;
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Jost', sans-serif;
}

.options{
    font-family: 'Jost', sans-serif;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.errorInput{
    border: 1px solid red;
}

.errorText{
    color: red;
    margin: -25px 0 10px 0;
}

.btn-add-mobile{
    display: none;
}

.btn-return-mobile{
    display: none;
}

@media only screen and (max-width: 900px) {
    .btn-add-web{
        display: none;
    }
    
    .btn-add-mobile{
        display: block;
        padding: 5px 15px;
    }

    .btn-return-web{
        display: none;
    }
    
    .btn-return-mobile{
        display: block;
        padding: 5px 15px;
    }

    .btn-add{
        height: auto;
    }

    .btn-back{
        height: auto;
    }
}